{% extends "reflect/app_base.html" %}

{% block head_title %}Categories{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="/media/js/r_categories.js"></script>
{% endblock %}

{% block content %}
<div id="sidebar">
  <h2>Categories</h2>
  <ul id="tabs">
    {% for cat in categories %}
    <li class="tab {% if cat == category %}active{% endif %}">
      <a href="/reflect/categories/{{ cat.id }}" id="cat-{{ cat.id }}">{{ cat.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="rightContent">
  <h2 id="cat-title">{{ category.name }}</h2>
  <ul id="likes">
    {% for score in category.getTop %}
    <li class="like">
      <div class="image-holder">
	<img src="https://graph.facebook.com/{{ score.page.fbid }}/picture?type=normal" />
      </div>
      <div class="title-holder">
	{{ score.page.name }}
      </div>
      <div class="like-id">
	
      </div>
    </li>
    {% endfor %}
  </ul>
  {% comment %}
  I haven't imlemented these yet! Gasp!
  <ul class="profiles">
    {% for profile in category.getTopPeople %}
    <li class="profile">
      <img src="https://graph.facebook.com/{{ profile.fbid }}/picture" />
      {{ profile.name }}
    </li>
    {% endfor %}
  </ul>
  {% endcomment %}
  <form>
    <input id="category_id" type="text" style="display:none" value="{{ category.id }}" />
    <input id="rename" type="text" value="{{ category.name }}" />
    <a id="changeName" class="button">Name this Category?</a>
  </form>
  <div id="nav">
    <a href="/reflect/profile/">On to Profile</a>
  </div>
</div>

<div id="survey">
  <h2>
    Question 1:
  </h2>
  <div class="question">
    How well does this category represent a group of your friends?
  </div>
  <div class="labels">
    <div class="label-spacer"></div>
    <div class="label">1</div>
    <div class="label">2</div>
    <div class="label">3</div>
    <div class="label">4</div>
    <div class="label">5</div>
    <div class="label">6</div>
    <div class="label">7</div>
    <div class="label-spacer"></div>
  </div>
  <div class="radios">
    <div class="end-label">
      not at all
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="1"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="2"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="3"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="4"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="5"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="6"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="q1" value="7"></input>
    </div>
    <div class="end-label">
      perfect match
    </div>
  </div>
</div>
{% endblock %}
