{% extends "reflect/app_base.html" %}

{% block head_title %}Categories{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="/media/js/r_categories.js"></script>
{% endblock %}

{% block content %}
<div id="sidebar">
  <h2>Categories</h2>
  <ul id="tabs">
    {% for cat in categories %}
    <li class="tab {% if cat == category %}active{% endif %}">
      <a href="/reflect/categories/{{ cat.id }}" id="cat-{{ cat.id }}">{{ cat.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="rightContent">
  <h2 id="cat-title">{{ category.name }}</h2>
  <ul id="likes">
    {% for score in category.getTop %}
    <li class="like">
      <div class="image-holder">
	<img src="https://graph.facebook.com/{{ score.entity.fbid }}/picture?type=normal" />
      </div>
      <div class="title-holder">
	{{ score.entity.name }}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% comment %}
  I haven't imlemented these yet! Gasp!
  <ul class="profiles">
    {% for profile in category.getTopPeople %}
    <li class="profile">
      <img src="https://graph.facebook.com/{{ profile.fbid }}/picture" />
      {{ profile.name }}
    </li>
    {% endfor %}
  </ul>
  {% endcomment %}
  <form>
    <input id="category_id" type="text" style="display:none" value="{{ category.id }}" />
    <input id="rename" type="text" value="{{ category.name }}" />
    <a id="changeName" class="button">Name this Category?</a>
  </form>
  <div id="nav">
    <a href="/reflect/profile/">On to Profile</a>
  </div>
</div>
{% endblock %}
