{% extends "reflect/app_base.html" %}

{% block head_title %}Profile{% endblock %}

{% block head_extra %}
<script>
var mapping = {
  {{ mapping|safe }}
}
</script>
<script type="text/javascript" src="/media/js/r_profile.js"></script>
{% endblock %}

{% block content %}
<div id="sidebar">
  <img id="profile_img" src="https://graph.facebook.com/{{ person.fbid }}/picture?type=large" />
  <ul id="tabs">
    {% for cat in categories %}
    <li class="tab" id="{{ cat.id }}">
      <a>{{ cat.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div id="rightContent">
  <h2>{{ person.name }}</h2>
  <ul class="info">
    {% for facebook_category, likes in likes_by_fbcat %}
    <li class="category">
      <h3>{{ facebook_category }}</h3>
      <ul class="category_likes">
	{% for like in likes %}
	<li class="like object" id="{{ like.id }}">
	  <div class="image-holder">
	    <img src="https://graph.facebook.com/{{ like.fbid }}/picture?type=normal" />
	  </div>
	  <div class="title-holder">
	    {{ like.name }}
	  </div>
	  <div class="filter"></div>
	</li>
	{% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  <div id="nav">
    <a href="/reflect/categories/">Back to Categories</a>
  </div>
</div>

{% endblock %}
