{% extends "reflect/app_base.html" %}

{% block head_title %}Profile{% endblock %}

{% block head_extra %}
<script>
var mapping = {
  {% for like in entity.likes %}
  "{{ like.id }}" : {{ like.topCategory.id }},
  {% endfor %}
  "done" : true
}
</script>
<script type="text/javascript" src="/media/js/categories.js"></script>
{% endblock %}

{% block sidebar %}
<img src="https://graph.facebook.com/{{ entity.fbid }}/picture?type=large" />
<ul id="tabs">
  {% for cat in categories %}
  <li class="tab" id="{{ cat.id }}">
    <a>{{ cat.name }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block content %}
<h2>{{ entity.name }}</h2>
<ul class="info">
  {% for facebook_category, likes in facebook_categories %}
  <li class="category">
    <h2>{{ facebook_category.name }}</h2>
    <ul class="category_likes">
      {% for like in likes %}
      <li class="like" id="{{ like.id }}">
	<img src="https://graph.facebook.com/{{ like.fbid }}/picture" />
	{{ like.name }}
	<div class="filter"></div>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}
