<ul id="tabbar">
  <li>
    <a href="{% url explore:likes %}">Pages</a>
  </li>
  <li>
    <a href="{% url explore:categories %}">Categories</a>
  </li>
  <li>
    <a href="{% url explore:friends %}">Friends</a>
  </li>
  <li>
    <a href="{% url reflect:home %}" target="_blank">Reflect</a>
  </li>
  <li>
    <a href="{% url survey:home %}" target="_blank">Survey</a>
  </li>
  <li>
    <a href="{% url context:home %}" target="_blank">Context</a>
  </li>
  {% if allowNew %}
  <li id="new_tab">
    <form action="{% url toolkit:categoryNewRedirect path %}" method="post" >
      <input type="submit" class="fakelink" value="New Category"></input>
    </form>
  </li>
  {% endif %}
  {% block tabs %}{% endblock %}
</ul>
