{% extends "survey/app_base.html" %}

{% block head_title %}Friends{% endblock %}

{% block content %}
{% include "survey/header.html" %}
{% include "survey/sidebar.html" %}

<div id="rightContent">
  <ul class="object-list">
    {% for membership in memberships %}
    <li class="friend object">
      <a href="{% url survey:profile category.id membership.member.id %}">
	<div class="image-holder">
	  <img src="https://graph.facebook.com/{{ membership.member.fbid }}/picture?type=normal" />
	</div>
	<div class="title-holder">
	  {{ membership.member.name }}
	</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% include "survey/survey.html" %}

{% endblock %}
