  <div class="labels">
    <div class="label-spacer"></div>
    <div class="label">1</div>
    <div class="label">2</div>
    <div class="label">3</div>
    <div class="label">4</div>
    <div class="label">5</div>
    <div class="label">6</div>
    <div class="label">7</div>
    <div class="label-spacer"></div>
  </div>
  <div class="radios">
    <div class="end-label">
      {{ left_end }}
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="1"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="2"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="3"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="4"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="5"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="6"></input>
    </div>
    <div class="question-radio">
      <input type="radio" name="{{ name }}" value="7"></input>
    </div>
    <div class="end-label">
      {{ right_end }}
    </div>
  </div>
