<script type="text/javascript" src="/media/js/s_survey.js"></script>

<div id="survey-spacer"></div>
<div id="survey">
  <div id="survey-bar" class="fakelink">Show Survey</div>
  <div id="survey-questions">
    <ul id="questions">
      <li id="q1" class="activeq question">
	<h3>
	  Please provide at least 2 labels for the social categories you see represented in these likes
	</h3>
	<input type="text"></input>
	<input type="text"></input>
	<span style="color:#AAA;">+more</span>
      </li>
      <li id="q2" class="question" style="height:160px;">
	<h3>
	  Please choose 2 Pages that are surprising and explain why they are surprising
	</h3>
	<div id="object1" style="display:inline-block; width:300px; margin:10px;">
	  <label for="object1">First Page:</label><input type="text" name="object1"></input>
	  <textarea style="width:100%"></textarea>
	</div>
	<div id="object2" style="display:inline-block; width:300px; margin:10px;">
	  <label for="object2">Second Page:</label><input type="text" name="object2"></input>
	  <textarea style="width:100%"></textarea>
	</div>
      </li>
      <li id="q3" class="question">
	<h3>
	  Please choose 2 Pages that are obvious and explain why they are surprising
	</h3>
	<div id="object1" style="display:inline-block; width:300px; margin:10px;">
	  <label for="object1">First Page:</label><input type="text" name="object1"></input>
	  <textarea style="width:100%"></textarea>
	</div>
	<div id="object2" style="display:inline-block; width:300px; margin:10px;">
	  <label for="object2">Second Page:</label><input type="text" name="object2"></input>
	  <textarea style="width:100%"></textarea>
	</div>
      <li id="q4" class="question">
	<h3>
	  Any further comments about the category?
	</h3>
	<textarea style="width:500px; height:80px;"></textarea>
      </li>
    </ul>
    <div id="survey-left" class="fakelink survey-nav">Previous</div>
    <div id="survey-right" class="fakelink survey-nav">Next</div>
  </div>
</div>
