<script type="text/javascript" src="/media/js/s_survey.js"></script>

<div id="survey-spacer"></div>
<div id="survey">
  <div id="survey-bar" class="fakelink">Show Survey</div>
  <div id="survey-questions">
    <ul id="questions">
      <li id="q1" class="activeq question">
	<h3>
          Question 1
        </h3>
	<div class="question-text">
          How well does this group of likes represent the likes of any individual person?
	</div>
        {% include "survey/radios.html" with left_end="not at all" right_end="perfect match" name="individual" %}
      </li>
      <li id="q2" class="question">
	<h3>
          Question 2
        </h3>
        <div class="question-text">
          Please fill in the following blanks with descriptive titles of subgroups you
          would make if you were to divide this set of likes.
	</div>
	<input type="text" id="subgroup1" name="subgroup1"></input>
	<input type="text" id="subgroup2" name="subgroup2"></input>
	<input type="text" id="subgroup3" name="subgroup3"></input>
      </li>
      <li id="q3" class="question">
	<h3>
          Question 3
        </h3>
        <div class="question-text">
	  If I showed you this collection of Likes without telling you how it was generated,
          what would you see as the unifying factor? (It's okay if it's the same or different
          than what we actually used)
	</div>
        <input id="unifying" type="text" name="unifying"></input>
      </li>
      <li id="q4" class="question">
	<h3>
          Question 4
        </h3>
        <div class="question-text">
	  Are there any likes you are surprised about? Please choose up to 2 and describe
          what about them you find surprising.
	</div>
	<div id="surprise1">
          <div id="surprise1-image" class="surprise-image image-holder">
            <img></img>
          </div>
          <input type="text" id="surprise1-id" name="surprise1-id" style="display:none"></input>
	  <textarea id="surprise1-describe" class="surprise-describe"></textarea>
	</div>
	<div id="surprise2">
          <div id="surprise2-image" class="surprise-image image-holder">
            <img></img>
          </div>
          <input type="text" id="surprise2-id" name="surprise2-id" style="display:none"></input>
	  <textarea id="surprise2-describe" class="surprise-describe"></textarea>
	</div>
      </li>
      <li id="q5" class="question">
	<h3>
          Question 5
        </h3>
	<div class="question-text">
          If you were hiring an actor to play someone in this group of people,
          how useful would this list be in describing what sort of persona they should take?
	</div>
        {% include "survey/radios.html" with left_end="not at all" right_end="extremely useful" name="actor" %}
      </li>
      <li id="q6" class="question">
	<h3>
          Question 6
        </h3>
	<div class="question-text">
          How much have you learned from this group of likes that you didn't know or didn't realize
          about the people before?
	</div>
        {% include "survey/radios.html" with left_end="absolutely nothing" right_end="I learned a lot" name="learned" %}
      </li>
      <li id="q7" class="question">
	<h3>
          Question 7
        </h3>
        <div class="question-text">
	  Do you have any further thoughts about the category?
	</div>
	<textarea id="further-thoughts"></textarea>
      </li>
    </ul>
    <div id="survey-left" class="fakelink survey-nav">Previous</div>
    <div id="survey-right" class="fakelink survey-nav">Next</div>
  </div>
</div>
