{% extends "base.html" %}

{% block head_title %}{{ profile1.name }} projected onto {{ profile2.name }}{% endblock %}

{% block content %}
  <div id="sidebar">
    <div id="profile-pic">
      <img src="http://www.sin-stuff.com/mom/files/gimgs/21_facebook-default-profile-pic.jpg" />
      <!-- <img src="https://graph.facebook.com/{{ profile1.id }}/picture?type=large"/> -->
    </div>
    <ul id="properties">
      {% for link,pages in profile1properties.items %}
      <li>
        <h3>{{ link }}</h3>
        <ul>
          {% for page in pages %}
          <li>
            <a href="/p/{{ page.id }}">{{ page.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
      </ul>
    </div>
  <div id="results">
    <h1>{{ profile1.name }} projected onto {{ profile2.name }}</h1>
    <h2>likes</h2>
    <ul>
      {% for like in projected_likes %}
      <li>
        <a href="/p/{{ like.id }}">{{ like.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div id="for-comparison">
    <h2>for comparison</h2>
    <div class="profile-likes">
      <h3>{{ profile1.name }}'s likes</h3>
      <ul>
        {% for like in profile1likes %}
        <li>
          <a href="/p/{{ like.id }}">{{ like.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="profile-likes">
      <h3>{{ profile2.name }}'s likes</h3>
      <ul>
        {% for like in profile2likes %}
        <li>
          <a href="/p/{{ like.id }}">{{ like.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
