<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Air Toolkit - {% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/context/style.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="/media/js/context/notifications.js"></script>
    {% block head_extra %}
    {% endblock %}
  </head>

  <body>
    <div id="content">
      {% block content %}{% endblock %}
      {% if user.is_authenticated %}
      {% include "context/notifications.html" %}
      {% endif %}
    </div>
  </body>
</html>
