{% extends "context/context_base.html" %}

{% block head_title %}Find Page{% endblock %}
{% block head_extra %}
<script type="text/javascript" src="/media/js/context/pages.js"></script>
{% endblock %}

{% block content %}

<div id="title">
  <h1>Find Page</h1>
  {% if toppages %}
  <input id="searchbox" type="text"></input>
  {% endif %}
</div>

{% if toppages %}
<div id="thinking-cover">
  thinking...
</div>
<form id="page-form" method="POST" action="{% url toolkit:categoryFromPage %}">
  <ul id="results" class="page-list">
  </ul>
  <ul id="toppages" class="page-list">
    {% for page in toppages %}
    <li class="page">
      <span class="page-id">{{ page.id }}</span>
      <div class="page-img fakelink">
	<img src="https://graph.facebook.com/{{ page.fbid }}/picture?type=normal" />
      </div>
      <div class="page-title fakelink">
	{{ page.name }}
      </div>
      <div class="page-category">
	{{ page.category }}
      </div>
      <ul class="liked-by">
	Liked by:
	{% for person in page.likedBy.all %}
	{% if forloop.counter0 < 24 %}
	<li class="liked-by-person">
	  {{ person.name }}{% if not forloop.counter0 == 23 and not forloop.last %},{% endif %}
	</li>
	{% endif %}
	{% endfor %}
      </ul>
      <input class="page-select" type="radio" value="{{ page.id }}" name="seed"></input>
    </li>
    {% endfor %}
  </ul>
  <input id="page-redirect" type="text" value="context:category" name="redirect"></input>
  <input id="page-submit" type="submit" value="Start"></input>
</form>
{% else %}
<div id="nodata" class="box">
  <p>
    We're not going to be able to do much without your data. Come back when the download is complete.
  </p>
  <div class="button" id="return" style="display:inline-block">
    <a href="{% url context:home %}">Go Back</a>
  </div>
</div>
{% endif %}
{% endblock %}
