body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  min-height: 600px;
}

ul {
  list-style-type: none;
  margin:4px;
  padding:0;
}

#content {
  margin: 0 auto;
  width:740px;
  height: 780px;
}

a {
  color:black;
  text-decoration:none;
  cursor:pointer;
}
.button {
  background-color: #41759F;
  border-radius: 15px;
  color: #FFF;
  padding:10px;
  display:block;
}

/* Intro */
#intro {
  text-align:center;
  width: 600px;
  margin: 0 auto;
}
#intro h1 {
  font-weight:normal;
  font-size: 300%;
  color: #41759F;
}
#mirror {
  margin-left:40px;
}
#blurb {
  background-color: #F7F7F7;
  border: 1px solid #41759F;
  width: 450px;
  margin: 6px auto;
  padding: 0 8px;
}
#getstarted {
  margin-top:20px;
}
#getstarted .button {
  width:200px;
  margin: 0 auto;
}

/* Categories and Profile */

/* Sidebar */
#sidebar {
  float:left;
  width: 179px;
  padding: 0 0 0 2px;
  min-height:780px;
  border-right: 1px solid #B3B3B3;
}

#sidebar h2 {
  margin-top: 4px;
  font-weight:normal;
  font-size:150%;
  background-color: #DBDFEB;
  padding:5px;
}

.tab:first-child {
  border-top: 1px solid #B3B3B3;
}
.tab {
  border-bottom: 1px solid #B3B3B3;
  padding:4px;
}
.tab:hover {
  background-color: #ABAFBB;
}
.tab a {
  text-decoration:none;
  color:#000;
}
.active {
  background-color: #DBDFEB;
}

#rightContent {
  width: 493px;
  padding: 0 20px 0 20px;
  margin-left: 180px;
  height:780px;
  overflow:auto;
}

#rightContent h2 {
  font-weight: normal;
  font-size: 200%;
  background-color: #DDD;
  padding: 4px;
}

#likes {
  min-height:420px;
}

.like {
  width:100px;
  float:left;
  margin: 2px;
  border: 1px solid #B3B3B3;
  overflow:hidden;
}

.image-holder {
  height:100px;
  overflow:hidden;
}

.title-holder {
  font-size:10pt;
  text-align:center;
  height: 30px;
}

#rename {
  border: 2px solid black;
  font-size: 200%;
  width: 300px;
}
#changeName {
  display: inline-block;
  margin: 0;
  position: relative;
  bottom: 8px;
}

#nav {
  margin:10px;
}
#nav a {
  text-decoration:underline;
}

#category {
  border : 2px solid black;
  width: 200px;
  position: fixed;
  top: 40px;
  left: 5px;
}

.category h2 {
  margin:4px;
  font-size:100%;
  font-weight: normal;
  background-color: #DDD;
  padding: 4px;
}

.filter {
  display : none;
  background-color : rgba(255,255,255,0.9);
  position: absolute;
  z-index:10;
  width:102px;
  height:140px;
}

#profile_img {
  width:180px;
}
