body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  min-height: 600px;
}

ul {
  list-style-type: none;
  margin:4px;
  padding:0;
}

#content {
  margin: 0 auto;
  width:740px;
  height: 780px;
  position: relative;
}

a, .fakelink {
  color:black;
  text-decoration:none;
  cursor:pointer;
}
.button {
  background-color: #41759F;
  border-radius: 15px;
  color: #FFF;
  padding:10px;
  display:block;
}

/* Intro */
#intro {
  text-align:center;
  width: 600px;
  margin: 0 auto;
}
#intro h1 {
  font-weight:normal;
  font-size: 300%;
  color: #41759F;
}
#mirror {
  margin-left:40px;
}
#blurb {
  background-color: #F7F7F7;
  border: 1px solid #41759F;
  width: 450px;
  margin: 6px auto;
  padding: 0 8px;
}
#getstarted {
  margin-top:20px;
}
#getstarted .button {
  width:200px;
  margin: 0 auto;
}

/* Categories and Profile */

/* Sidebar */
#sidebar {
  float:left;
  width: 179px;
  padding: 0 0 0 2px;
  max-height:780px;
  border-right: 1px solid #B3B3B3;
}

#sidebar h2 {
  margin-top: 4px;
  font-weight:normal;
  font-size:150%;
  background-color: #DBDFEB;
  padding:5px;
}

.tab:first-child {
  border-top: 1px solid #B3B3B3;
}
.tab {
  border-bottom: 1px solid #B3B3B3;
  padding:4px;
}
.tab:hover {
  background-color: #ABAFBB;
}
.tab a {
  text-decoration:none;
  color:#000;
}
.active {
  background-color: #DBDFEB;
}

/* Header */
#header {
  background-color: #FFF;
  border: 1px solid #000;
  text-align: center;
}

/* Right Content */
#rightContent {
  width: 493px;
  padding: 0 20px 0 20px;
  margin-left: 180px;
  max-height:780px;
  overflow:auto;
}

#rightContent h2 {
  font-weight: normal;
  font-size: 200%;
  background-color: #DDD;
  padding: 4px;
  margin-top: 4px;
}

.object-list {
  height: 566px;
  overflow:auto;
}

.object {
  width:100px;
  height:140px;
  display:inline-block;
  vertical-align:top;
  margin: 2px;
  border: 1px solid #B3B3B3;
  overflow:hidden;
}

.image-holder {
  height:100px;
  overflow:hidden;
}

.title-holder {
  font-size:70%;
  text-align:center;
  height: 30px;
  padding: 4px;
}

.like-id, .person-id {
  display:none;
}

#rename {
  border: 2px solid black;
  font-size: 200%;
  width: 300px;
}
#changeName {
  display: inline-block;
  margin: 0;
  position: relative;
  bottom: 8px;
}

#nav {
  margin:20px 25px 10px 0;
  float: right;
  border: 2px solid #41759F;
  padding: 4px 10px;
}
#nav a {
  font-weight:bold;
  color: #000;
}

#category {
  border : 2px solid black;
  width: 200px;
  position: fixed;
  top: 40px;
  left: 5px;
}

.category h3 {
  margin:4px;
  font-weight: normal;
  background-color: #EEE;
  padding: 4px;
  border-top: 1px solid #CCC;
}

.filter {
  display : none;
  background-color : rgba(255,255,255,0.9);
  position: relative;
  bottom: 140px;
  z-index:10;
  width:102px;
  height:144px;
}

#profile_img {
  width:180px;
}

/* Survey */
#survey {
  position: absolute;
  height: 155px;
  width: 736px;
  bottom: 0px;
  border: 2px solid #000;
  background-color: #FFF;
  margin: 0 auto;
  z-index: 20;
}

#survey #questions {
  margin-left: 80px;
}
#survey .question-text {
  margin-bottom: 20px;
}
#survey .help-text {
  color: #333;
  font-size: 50%;
}

.label {
  display:inline-block;
  width:16px;
  text-align:center;
}
.question-radio {
  display:inline-block;
}
.end-label, .label-spacer {
  display:inline-block;
  width:120px;
  text-align:center;
}

.labels,.radios {
  width: 400px;
  margin: 0 auto;
  text-align:center;
}

.question {
  display:none;
}
.activeq {
  display:block;
}

.survey-nav {
  position:absolute;
  padding:2px;
  border-color: #888;
  border-style: solid;
  color: #888;
  font-weight: 200;
  display:none;
}
#survey-left {
  top: 0;
  left: 0;
  border-width: 0 1px 1px 0;
}
#survey-right {
  top: 0;
  right: 0;
  border-width: 0 0 1px 1px;
}

.hidden {
  display:none;
}

#header {
  position:absolute;
  top:0;
  width:740px;
  z-index: 20;
}
.cat-nav {
  position:absolute;
  padding:2px;
  border-color: #888;
  border-style: solid;
  margin:0;
  height:18px;
  padding: 15px 2px;
}
#cat-left {
  top: 0;
  left: 0;
  border-width: 0 1px 0 0;
}
#cat-right {
  top: 0;
  right: 0;
  border-width: 0 0 0 1px;
}
