body {
  margin:0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin:4px;
  padding:0;
}

a, .fakelink {
  color: black;
  text-decoration:none;
  cursor: pointer;
}

button, .button {
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #FFF;
  font-weight: bold;
  cursor: pointer;
  padding:2px 6px;
  text-align:center;
}
button:hover, .button:hover {
  background-color: #CCC;
}

#header {
  width:100%;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
}

#header h1 {
  margin: 8px;
}

#content {
  margin: 0 auto;
  width:800px;
}

/* General */
#tabbar {
  position:relative;
  margin: 0;
  top: -1px;
}
#tabbar li {
  display: inline-block;
  border-width: 0 2px 2px 2px;
  border-style: solid;
  border-color: black;
  padding: 2px;
  margin:0;
  text-align: center;
}
#tabbar a, #tabbar .fakelink {
  font-weight:bold;
  border: none;
  background-color:white;
  display: inline;
  padding:0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}
#tabbar #new_tab {
  float:right;
}

#title, #second-title {
  width: 750px;
  padding:10px;
  margin: 0 auto;
}
#title h1, #second-title h2 {
  margin: 8px;
}

.page-nav {
  text-align:center;
  margin: 2px auto;
  width:690px;
  position:relative;
  height:26px;
}
.page-nav a {
  display:inline-block;
  padding:4px;
  width:30px;
}
.left-nav {
  position:absolute;
  left:2px;
}
.right-nav {
  position:absolute;
  right:2px;
}

/* likes */
#page-tabs {
  text-align:center;
}

#page-tabs li {
  display: inline-block;
  border-bottom: 1px solid black;
  padding: 1.5px;
  width: 1.65%;
  font-size:11pt;
  text-align:center;
  margin:0;
  padding:2px;
}

.like img {
  vertical-align:middle;
}
.like h2 {
  display:inline;
}
.add-seed {
  color: #00FF00;
  cursor: pointer;
}
.delete-seed {
  color: #FF0000;
  cursor: pointer;
}

.seed-id, .pmi-id, .pmi-box {
  display:none;
}
#category-sidebar {
  border : 2px solid black;
  width: 250px;
  position: fixed;
  top: 100px;
  left: 5px;
  padding: 10px;
}

#category-sidebar h2 {
  text-align: center;
  margin: 4px;
}

#creation-options {
  display:none;
  font-size:75%;
}
#creation-options li:first-child {
  display:none;
}
#creation-options li {
  padding: 3px;
}
#creation-options label {
  float:left;
  text-align:right;
  width:80px;
  display:block;
  margin: 0 0 5px 0;
  padding: 3px 5px;
}
#creation-options .floatField {
  padding:1px 3px;
  text-align: right;
}
#category-sidebar fieldset, .pmi-fieldset {
  border-width:1px 0 0 0;
}
#category-sidebar legend, .pmi-fieldset legend {
  font-size:80%;
  cursor: pointer;
}
#category-done {
  text-align: right;
}

/* categories */
.category, #active {
  border: 1px solid black;
  margin: 6px 0;
  min-height: 80px;
}
#active {
  border-width: 2px;
}

.category-title {
  width: 280px;
  float: left;
  text-align:right;
  padding:10px;
}
.category-title h3 {
  margin:0;
}
.seeds {
  width: 200px;
  margin: 10px 0 10px 300px;
}
.controls {
  text-align:center;
  margin:10px 20px;
  float:right;
  width:200px;
}
.controls div, .controls form {
  margin-bottom: 8px;
}
.controls .button {
  font-size: 70%;
}


/* category */
#category-info {
  padding:10px;
  border: 1px solid black;
}
#category-info ul {
  width:195px;
  margin:0 20px;
  display: inline-block;
  vertical-align:top;
}
#category-info #parameters div {
  display:inline-block;
}
#category-info #parameters .label {
  width:100px;
  margin-right: 10px;
  text-align:right;
}
/* pages */
.object-list {
  width:635px;
  margin:10px auto;
}

.object {
  width:100px;
  display:inline-block;
  margin: 2px 0;
  border: 1px solid #B3B3B3;
  overflow:hidden;
  position: relative;
  vertical-align:top;
}

.image-holder {
  height:100px;
  overflow:hidden;
}

.title-holder {
  font-size:70%;
  text-align:center;
  height: 40px;
  padding: 0 4px;
  overflow:hidden;
}

.filled-bar {
  height:4px;
  background-color: #F00;
}
.value-num {
  font-size: 75%;
  text-align:center;
}

.like-controls {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FFF;
  padding: 2px;
  border-left: solid 1px #B3B3B3;
  border-bottom: solid 1px #B3B3B3;
}
#title .like-controls {
  position:static;
  border: none;
  font-size: 50%;
  vertical-align:text-top;
}

/* survey results */
#results .question-text {
  background-color: #DDD;
  padding:4px;
  margin:6px 0;
}
.result-answer {
  margin:10px;
  vertical-align:top;
}

.result-question #surprise1, .result-question #surprise2 {
  display:inline-block;
  width:340px;
}
.result-answer .surprise-image {
  width:100px;
  border: 1px solid #AAA;
  display:inline-block;
  vertical-align:top;
}
.result-answer .surprise-describe {
  height:96px;
  width:200px;
  display:inline-block;
}