body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin:4px;
  padding:0;
}

button, .button {
  border: 2px solid #000;
  border-radius: 12px;
  background-color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
button:hover, .button:hover {
  background-color: #CCC;
}

#header {
  width:100%;
  bottom: 2px solid black;
  margin: 0;
  padding: 0;
}

#header a {
  text-decoration: none;
  color: black;
}
#header h1 {
  margin: 8px;
}

#content {
  margin: 0 auto;
  width:800px;
}

#tabbar {
  position:relative;
  margin: 0;
  top: -1px;
}
#tabbar li {
  display: inline-block;
  border: 1px solid black;
  padding: 1.5px;
  margin:0;
  width: 12px;
  text-align: center;
  font-size: 11pt;
}
#tabbar a {
  text-decoration:none;
  color: black;
  font-weight:bold;
}

/* pmis */
.pmis {
  display:none;
}

.add-seed {
  font-size: 50%;
  color: #00FF00;
  cursor: pointer;
}

.delete-seed {
  font-size: 50%;
  color: #FF0000;
  cursor: pointer;
}

.seed-id {
  display:none;
}

#category {
  border : 2px solid black;
  width: 250px;
  position: fixed;
  top: 100px;
  left: 5px;
  padding: 10px;
}

#category h2 {
  text-align: center;
  margin: 4px;
}

#creation-options {
  display:none;
  font-size:75%;
}
#creation-options li:first-child {
  display:none;
}
#creation-options li {
  padding: 3px;
}
#creation-options label {
  float:left;
  text-align:right;
  width:80px;
  display:block;
  margin: 0 0 5px 0;
  padding: 3px 5px;
}
#creation-options .floatField {
  padding:1px 3px;
  text-align: right;
}
#category fieldset {
  border-width:1px 0 0 0;
}
#category legend {
  font-size:80%;
  cursor: pointer;
}
#category-done {
  text-align: right;
}