body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  min-height: 600px;
}

ul {
  list-style-type: none;
  margin:4px;
  padding:0;
}

#content {
  margin: 0 auto;
  width:760px;
  height: 764px;
  position: relative;
  overflow:auto;
}

a, .fakelink {
  color:black;
  text-decoration:none;
  cursor:pointer;
}
button, .button {
  border: 3px solid black;
  background-color: #FFF;
  border-radius: 16px;
  font-weight: bold;
  font-size:100%;
  padding:6px;
  display:block;
  cursor:pointer;
}
button:active, .button:active {
  background-color:#DDF;
}

/* toolbar.html */
#toolbar {
  min-height:12px;
  width:740px;
}
#toolbar-top {
  border-bottom:2px solid black;
  border-top:1px solid black;
  background-color:#FFF;
  position:relative;
}

#tabs {
  padding: 0 10px;
  margin:0;
}

#tabs li {
  display: inline-block;
  padding: 4px 2px;
  margin: 0 2px;
  text-align: center;
}

#tabs a {
  font-weight:bold;
  background-color:white;
  display: inline;
  padding:0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

#notify-top {
  cursor:pointer;
  border-right:1px solid black;
  border-left:1px solid black;
  float:right;
  width:300px;
}
.unread-red {
  display:inline-block;
  background-color:#F00;
  border-radius: 4px;
  color:#FFF;
  padding: 1px 3px 0;
  vertical-align:bottom;
}

.unread {
  font-weight:bold;
}

#notifications {
  display:none;
  position:absolute;
  padding:4px;
  left:418px;
  border-width: 0 1px 1px 1px;
  border-style:solid;
  border-color: black;
  margin-top:0;
  width:296px;
  font-size:80%;
  background-color:#FFF;
}
#notifications li {
  height:15px;
  overflow:hidden;
}

/* object-list */
.object {
  width:100px;
  height:142px;
  display:inline-block;
  vertical-align:top;
  margin: 2px;
  border: 1px solid #B3B3B3;
  overflow:hidden;
}

.image-holder {
  height:100px;
  overflow:hidden;
}

.title-holder {
  font-size:70%;
  text-align:center;
  height: 30px;
  padding: 4px;
}

.page-id, .person-id, .friend-id,
.category-id, .property-id, .like-id {
  display:none;
}

/* thinking-cover */
#thinking-cover {
  display: none;
  background-color : rgba(255,255,255,0.9);
  position: absolute;
  top: 105px;
  left:0;
  z-index:10;
  width:100%;
  height:800px;
  padding-top: 150px;
  text-align:center;
  font-size:200%;
  color: #DDD;
  text-shadow: 2px 2px 2px #AAA;
}

/* home.html */
.box {
  border: 2px solid black;
  margin: 4px;
  padding: 12px;
  width: 678px;
}
.box h2 {
  margin: 4px;
}

.vertical-box {
  width:319px;
  height: 200px;
  display:inline-block;
  vertical-align:top;
}

#show-perms {
  text-align:center;
  cursor:pointer;
  text-decoration:underline;
}

.stages {
  margin: 8px 0;
}

.status-bar {
  width:400px;
  border: 1px solid black;
  height: 10px;
  display:inline-block;
}
.status-fill {
  height:10px;
  background-color:black;
  width:0;
}

.dl-label {
  display:inline-block;
  width:175px;
  display:none;
  text-align:right;
}

/* friends.html */
/* sidebar */
#sidebar {
  float:left;
  width: 179px;
  padding: 0 0 0 2px;
  border-right: 1px solid #B3B3B3;
}

.relation h3 {
  margin: 0;
  font-weight:normal;
  font-size:150%;
  background-color: #DBDFEB;
  padding:5px;
}

.filter:first-child {
  border-top: 1px solid #B3B3B3;
}
.filter {
  border-bottom: 1px solid #B3B3B3;
  padding:4px;
  font-size:75%;
}
.filter:hover {
  background-color: #ABAFBB;
}
.filter a {
  text-decoration:none;
  color:#000;
}
.active {
  background-color: #DBDFEB;
}

.filters-hidden {
  display:none;
}

.more-filters {
  background-color:#F4F4F4;
  text-align:center;
  font-size:75%;
  cursor:pointer;
}

/* rightContent */
#rightContent {
  width: 493px;
  padding: 0 20px 0 20px;
  margin-left: 180px;
}

#rightContent h2 {
  font-weight: normal;
  font-size: 200%;
  background-color: #DDD;
  padding: 4px;
  margin-top: 4px;
}

.select-option {
  color: #00F;
  display: inline-block;
}

.friend {
  padding:2px;
  cursor: pointer;
}
.selected {
  color: #FFF;
  background-color: #00F;
}
.friend input {
  display:none;
}

#group-submit {
  position:fixed;
  bottom: 36px;
  right:20px;
  background-color: #FFF;
  border: 2px solid black;
  font-size:150%;
}

/* pages.html */
#searchbox {
  margin:10px auto;
  width:80%;
  font-size:150%;
  display:block;
}
  
.page {
  border: 1px solid black;
  overflow:hidden;
  padding:10px;
  margin-bottom: 4px;
}

.page-img {
  float:left;
  margin-right:10px;
  overflow:hidden;
  height:100px;
}
.page-title {
  font-size:160%;
}
.page-category {
  font-size:90%;
  margin-left:10px;
}

.liked-by {
  height:70px;
  overflow:hidden;
}

.liked-by-person {
  display:inline;
  font-size: 70%;
}
#page-form input {
  display:none;
}

/* category.html */
#category-people-hidden {
  display:none;
}
#category-people-more {
  text-align:center;
  background-color:#DDD;
}

.small-object {
  border: 1px solid black;
  width:50px;
  height:50px;
  overflow:hidden;
  display:inline-block;
  vertical-align:top;
}
#category-info {
  border-bottom:1px solid black;
}

#processing {
  margin:12px;
}

#processing .button {
  margin: 0 auto;
  text-align:center;
  width: 130px;
}

#edit-title {
  display:inline-block;
  margin:6px;
  font-size:30%;
  font-weight:normal;
  text-decoration:underline;
  color:blue;
}

#edit-textbox {
  display:none;
  font-weight:bold;
  font-size:2em;
  width:95%
}