{% extends "base.html" %}

{% block head_title %}Category: {{ category.name }}{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="/media/js/category.js"></script>
{% endblock %}

{% block content %}
{% include "tabbar.html" %}

<div id="title">
  <h1 id="category-title">{{ category.name }}</h1>
  <div id="category-info">
    <ul id="seeds">
      {% for seed in category.seeds.all %}
      <li>{{ seed.name }}</li>
      {% endfor %}
    </ul>
    <ul id="parameters">
      <li><div class="label">Start Value :</div> <div class="value">{{ category.startvalue }}</div></li>
      <li><div class="label">Threshold :</div> <div class="value">{{ category.threshold }}</div></li>
      <li><div class="label">Decay Rate :</div> <div class="value">{{ category.decayrate }}</div></li>
    </ul>
  </div>
</div>

{% url category_start category.id as page_url%}
{% include "air_explorer/paginate.html" %}

{% endblock %}
