<div id="category-sidebar">
  <h2>{{ active.name }}</h2>
  <ul id="seeds">
    {% for seed in active.seeds.all %}
    <li id="seed-{{ seed.id }}">
      <h3>
	<a href="{% url explore:like_start seed.id %}">
          {{ seed.name }}
	</a>
	{% if not active.status.processing %}
	<span class="delete-seed">[x]</span>
	{% endif %}
	<span class="seed-id">{{ seed.id }}</span>
      </h3>
    </li>
    {% endfor %}
  </ul>
  <form id="creation-form" method="post" {% if active.status.processing %}style="display:none"{% endif %}>
    <fieldset id="toggle-creation-options">
      <legend>Show Options</legend>
      <ul id="creation-options">
	{{ createForm.as_ul }}
      </ul>
    </fieldset>
    <div id="category-done">
      <input type="submit" class="button" id="start-creation" value="Start Creation" {% if not active.seeds.all %}disabled="disabled"{% endif %}></input>
    </div>
  </form>
  <div id="creation-status" {% if not active.status.processing %}style="display:none;"{% endif %}>
    <p>
      Creating {{ active.name }}...
    </p>
    <div id="creation-error">
    </div>
    <div id="creation-rounds">
    </div>
  </div>
  <div id="creation-done" style="display:none;">
    <p>
      {{ active.name }} Created.
    </p>
    <p>
      <a href="{% url explore:categories %}" class="button">View Categories</a>
    </p>
  </div>
</div>

