{% extends "base.html" %}

{% block head_title %}Category: {{ category.name }}{% endblock %}

{% block head_extra %}
<script type="text/javascript" src="/media/js/category.js"></script>
{% endblock %}

{% block content %}
{% include "tabbar.html" %}

<div id="title">
  <h1 id="category-title">{{ category.name }}</h1>
  <div id="category-info">
    <ul id="seeds">
      {% for seed in category.seeds.all %}
      <li>{{ seed.name }}</li>
      {% endfor %}
    </ul>
    <ul id="rounds" class="category-data">
      {% for round in category.status.rounds %}
      <li>Round: {{ round }}</li>
      {% endfor %}
    </ul>
    <ul id="parameters" class="category-data">
      <li><div class="label">Start Value :</div> <div class="value">{{ category.startvalue }}</div></li>
      <li><div class="label">Threshold :</div> <div class="value">{{ category.threshold }}</div></li>
      <li><div class="label">Decay Rate :</div> <div class="value">{{ category.decayrate }}</div></li>
    </ul>
  </div>
</div>

<div id="subject">
  <ul id="objects" class="object-list">
    {% for score in score_page.object_list %}
    <li class="object">
      <a href="{% url explore:like_start score.page.id %}" title="{% for person in score.page.likedBy.all %}{{ person.name }}, {% endfor %}">
	<div class="image-holder">
	  <img src="https://graph.facebook.com/{{ score.page.fbid }}/picture?type=normal" />
	</div>
	<div class="title-holder">
	  {{ score.page.name }}
	</div>
	<div class="value-bar">
	  <div class="filled-bar"></div>
	</div>
	<div class="value-num">
	  {{ score.activity }}
	</div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
