{% extends "base.html" %}

{% block head_title %}Categories{% endblock %}

{% block head_extra %}
<script>
var started = {% if active and active.task_id %}true;{% else %}false;{% endif %}
</script>
<script type="text/javascript" src="/media/js/categories.js"></script>
{% endblock %}

{% block content %}
{% include "tabbar.html" %}

<ul id="categories">
  {% if active %}
  <li id="active">
    <div class="category-title">
      <h3>{{ active.name }}</h3>
    </div>
    <div class="controls">
      {% comment %}
      <div class="rename-category">
	<span class="button">rename</span>
      </div>
      <div class="start-creation">
	<span class="button">start creation</span>
      </div>
      {% endcomment %}
      This is the currently active category. Go back to Likes to finish it.
    </div>
    <ul class="seeds">
      {% for seed in active.seeds.all %}
      <li>
	{{ seed.name }}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% for category in categories %}
  {% if category != active %}
  <li class="category">
    <div class="category-title">
      <h3>
	<a href="/category/{{ category.id }}">{{ category.name }}</a>
      </h3>
    </div>
    <div class="controls">
      {% comment %}
      <div >
	<span class="rename-category button">rename</span>
      </div>
      {% endcomment %}
      {% if not active %}
      <form action="{% url toolkit:categoryReset category.id %}" method="post">
	<input type="submit" class="reset-category button" value="reset category"></input>
      </form>
      {% endif %}
    </div>
    <ul class="seeds">
      {% for seed in category.seeds.all %}
      <li>
	{{ seed.name }}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
