{% extends "base.html" %}

{% block head_title %}Downloading...{% endblock %}

{% if user.is_athenticated %}
{% block head_extra %}
<script>
var started = {% if stage and stage != 0 %}true;{% else %}false;{% endif %}
</script>
<script type="text/javascript" src="/media/js/download.js"></script>
{% endblock %}
{% endif %}

{% block content %}
{% if not stage or stage == 0 %}
<div>
  <button id="start">Start Download</button>
</div>
{% endif %}
<div id="downloading" {% if not stage or stage == 0 %}style="display:none;"{% endif %}>
  <p id="error"></p>
  <p id="starting" class="stages">
    Your download has been started. It takes a while, so you should come
    back in a bit to check if it's done. Until then, you can feel free to
    close this page and go on about your day. Just come back to this url
    to check if it's done.
  </p>
  <p id="stage1" class="stages" {% if not stage or stage != 1 %}style="display:none;"{% endif %}>
    downloading user data: <span id="count1">0</span>/<span id="total1">0</span>
  </p>
  <p id="stage2" class="stages" {% if not stage or stage != 2 %}style="display:none;"{% endif %}>
    calculating pmis: <span id="count2">0</span>/<span id="total2">0</span> (this one will take a bit longer)
  </p>
  <p id="stage3" class="stages" style="display:none;">
    You're all done!
  </p>
</div>
{% endblock %}
