{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block content %}
{% include "tabbar.html" %}

<h1>Welcome!</h1>
<div id="about">
  <p>
    This page will hold a description of what this website does.
  </p>
  <p>
    For instance: This is a demonstration of the AIR Toolkit.
  </p>
</div>  
{% if ready %}
<div >
  <a class="button" href="/likes/">Get Started</a>
</div>
{% else %}
<div>
  <a class="button" href="/auth/login">login with facebook</a>
</div>
{% endif %}
  
{% endblock %}

